@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

#outerBox{
    max-width: 350px;
    min-height: 450px;
    margin: 80px auto;
    padding-top: 10px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

#innerBox{
    max-width: 330px;
    min-height: 330px;
    margin: auto;
    padding: 40px 30px 30px 30px;
/*    background-color: #ecf0f3;*/
    border-radius: 15px;
    box-shadow: inset 8px 8px 15px #cbced1, inset -8px -8px 15px #fff;
}



